@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@500&display=swap');
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}
:root {
    --light-blue: #e4ddf4;
}

body {
    max-width: 100vw;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.search-form {
    height: 3rem;
}

.episode-selector {
    padding: 0.3rem;
    margin: 0.5rem 0;
}

.search {
    padding: 0.5rem;
    font-size: large;
    position: relative;
}

.episodes-container {
    display: grid;
    grid-template-columns: auto;
    columns: 1;
    list-style-type: none;
}

.episode {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}

.episode h3, .episode img {
    margin-bottom: 0.5rem;
}

.episode p {
    line-height: 1.6rem;
    padding: 2rem;
}


footer {
    text-align: center;
}

/* SMALL BREAKPOINT */
@media (min-width: 576px) {
    .episodes-container {
        grid-template-columns: repeat(2, auto);
    }
}

/* MEDIUM BREAKPOINT */
@media (min-width: 768px) {
    .episodes-container {
        grid-template-columns: repeat(3, auto);
    }
}

/* LARGE BREAKPOINT */
@media (min-width: 992px) {
    .episodes-container {
        grid-template-columns: repeat(4, auto);
    }
    header {
        flex-direction: row;
        justify-content: space-between;
    }
}


